{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="bg-light p-5 my-5 text-center">
					<h1>
						Bienvenue sur Vux, la plateforme de vote en ligne&nbsp;!
					</h1>
				</div>
                <div class="row">
                    <div class="col-3">
                        <div class="border px-4 py-3 text-muted">
                            <h1>Sommaire</h1>
                            <hr/>
                            <ul class="list-unstyled lh-lg mb-0">
                                <li>
                                    <a href="#whats-vux" class="link-secondary text-decoration-none">
                                        Qu'est-ce que Vux&nbsp;?
                                    </a>
                                </li>
                                <li>
                                    <a href="#vux-usage" class="link-secondary text-decoration-none">
                                        Que permet de faire Vux&nbsp;?
                                    </a>
                                </li>
                                <li>
                                    <a href="#vux-price" class="link-secondary text-decoration-none">
                                        Est-ce que Vux est payante&nbsp;?
                                    </a>
                                </li>
                                <li>
                                    <a href="#vux-for-techies" class="link-secondary text-decoration-none">
                                        Et côté technique&nbsp;?
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col p-3">
                        <h1 id="whats-vux">
                            Qu'est-ce que Vux&nbsp;?
                        </h1>
                        <p>
                            Vux est une application web permettant de voter selon la méthode du
                            jugement majoritaire. L'objectif à long terme est de vous permettre de créer
                            des élections et d'inviter des personnes à y soumettre leur vote.
                        </p>
                        <div class="alert alert-warning mt-5" role="alert">
                            <strong>ATTENTION&nbsp;!</strong> En tant que professionnel·les de
                            l'informatique, nous savons que le vote en ligne n'est pas sécurisé et ne
                            le sera jamais. Vux ne cherche pas à remplacer le vote en présentiel,
                            mais à permettre de réaliser des élections lorsque le télévote est la seule solution.
                            <br/><br/>
                            Si possible, réalisez vos élections en présentiel avec un dépouillage public.
                        </div>

                        <h1 class="mt-5" id="vux-usage">
                            Que permet de faire Vux&nbsp;?
                        </h1>
                        <div class="alert alert-info my-3" role="alert">
                            <strong>Pour votre information&nbsp;:</strong> Vux est en développement, un certain nombre de fonctionnalités
                            ne sera donc pas disponible pour l'instant.
                        </div>
                        <div class="row text-center mt-5">
                            <div class="col">
                                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-clipboard-data text-muted" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                    <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                    <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                                </svg>
                                <h4 class="mt-3">Lancer<br/> une élection</h4>
                                Vous pouvez créer une nouvelle élection
                                et inviter les personnes concernées à voter.
                            </div>
                            <div class="col">
                                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-hand-thumbs-up text-muted" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16v-1c.563 0 .901-.272 1.066-.56a.865.865 0 0 0 .121-.416c0-.12-.035-.165-.04-.17l-.354-.354.353-.354c.202-.201.407-.511.505-.804.104-.312.043-.441-.005-.488l-.353-.354.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315L12.793 9l.353-.354c.353-.352.373-.713.267-1.02-.122-.35-.396-.593-.571-.652-.653-.217-1.447-.224-2.11-.164a8.907 8.907 0 0 0-1.094.171l-.014.003-.003.001a.5.5 0 0 1-.595-.643 8.34 8.34 0 0 0 .145-4.726c-.03-.111-.128-.215-.288-.255l-.262-.065c-.306-.077-.642.156-.667.518-.075 1.082-.239 2.15-.482 2.85-.174.502-.603 1.268-1.238 1.977-.637.712-1.519 1.41-2.614 1.708-.394.108-.62.396-.62.65v4.002c0 .26.22.515.553.55 1.293.137 1.936.53 2.491.868l.04.025c.27.164.495.296.776.393.277.095.63.163 1.14.163h3.5v1H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                                </svg>
                                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-hand-thumbs-down text-muted" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28v1c.563 0 .901.272 1.066.56.086.15.121.3.121.416 0 .12-.035.165-.04.17l-.354.353.353.354c.202.202.407.512.505.805.104.312.043.44-.005.488l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.415-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.353.352.373.714.267 1.021-.122.35-.396.593-.571.651-.653.218-1.447.224-2.11.164a8.907 8.907 0 0 1-1.094-.17l-.014-.004H9.62a.5.5 0 0 0-.595.643 8.34 8.34 0 0 1 .145 4.725c-.03.112-.128.215-.288.255l-.262.066c-.306.076-.642-.156-.667-.519-.075-1.081-.239-2.15-.482-2.85-.174-.502-.603-1.267-1.238-1.977C5.597 8.926 4.715 8.23 3.62 7.93 3.226 7.823 3 7.534 3 7.28V3.279c0-.26.22-.515.553-.55 1.293-.138 1.936-.53 2.491-.869l.04-.024c.27-.165.495-.296.776-.393.277-.096.63-.163 1.14-.163h3.5v-1H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
                                </svg>
                                <h4 class="mt-3">Voter<br/> à une élection</h4>
                                Vous pouvez voter dans une élection existante
                                si vous y avez été invité.e.
                            </div>
                            <div class="col">
                                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-envelope-open text-muted" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z"/>
                                </svg>
                                <h4 class="mt-3">Consulter les résultats<br/> d'une élection</h4>
                                Vous pouvez consulter
                                les résultats d'élections lorsque le vote est terminé et le dépouillage est réalisé.
                            </div>
                        </div>

                        <h1 class="mt-5" id="vux-price">
                            Qu'est-ce que le jugement majoritaire&nbsp;?
                        </h1>
                        <p>
                            Le <a href="https://worldwide.espacenet.com/patent/search?q=pn%3DUS2009018967A1">jugement majoritaire</a>
                            est un mode de scrutin inventé par deux chercheurs français&nbsp;: Rida Laraki et Michel Balinski.
                            Il repose sur une théorie mathématique publiée dans le livre <a href="https://mitpress.mit.edu/books/majority-judgment">Majority Judgment</a>.
                        </p>
                        <figure>
                            <blockquote class="blockquote">
                                In summary, insofar as it concerns ranking and electing, social choice theory hypothesizes a faulty model of reality
                                to produce an inconsistent theory. So why on earth use it?
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Rida Laraki et Michel Balinski, <cite title="Majority Judgment">Majority Judgment</cite>
                            </figcaption>
                        </figure>
                        <p>
                            Le jugement majoritaire est un <strong>vote par valeurs</strong>, c'est-à-dire que les électeurices ne choisissent pas
                            un·e candidat·e ou ne classent pas les candidat·es entre elleux, mais les jugent chacun·e indépendamment.
                            Il a été élaboré pour éviter les manipulations auxquels donnent lieu les autres types de scrutins&nbsp;:
                            par exemple, le scrutin uninominal permet d'élire un·e candidat·e de manière totalement contradictoire
                            avec l'opinion des électeurices. Le jugement majoritaire se débarasse de ces biais
                            en s'appuyant sur l'idée d'<strong>une majorité qui réduit le nombre d'électeurices déçu·es</strong>
                            plutôt que sur une majorité qui divise.
                        </p>
                        <p>
                            Un vote par jugement majoritaire est défini par une question précise et des bulletins de vote
                            comprenant la liste des candidat·es ainsi que six mentions à leur attribuer.
                        </p>

                        <h1 class="mt-5" id="vux-price">
                            Comment voter en jugement majoritaire&nbsp;?
                        </h1>
                        <p>
                            Le bulletin de vote du jugement majoritaire est un tableau listant tous les candidat·es ainsi que les mentions
                            à leur assigner.
                        </p>
                        <p>
                            Par exemple, considérons la question suivante&nbsp;: <strong>Quel serait le meilleur fruit
                            à ajouter à une tarte aux fruits composée principalement de mirabelles ?</strong>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <tr>
                                    <th style="width: 16%"></th>
                                    <th style="width: 14%">
                                        Très bien
                                    </th>
                                    <th style="width: 14%">
                                        Bien
                                    </th>
                                    <th style="width: 14%">
                                        Assez bien
                                    </th>
                                    <th style="width: 14%">
                                        Passable
                                    </th>
                                    <th style="width: 14%">
                                        Insuffisant
                                    </th>
                                    <th style="width: 14%">
                                        À rejeter
                                    </th>
                                </tr>
                                <tr>
                                    <th>Pomme</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Banane</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Figue</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <p>
                            Lorsque vous votez, vous donnez donc à chaque candidat·e une mention, allant de Très bien à À rejeter.
                            Pour ce faire, vous cochez la mention que vous donnez dans votre bulletin de vote, pour chaque ligne du tableau&nbsp;:
                        </p>
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <tr>
                                    <th style="width: 16%">
                                    </th>
                                    <th style="width: 14%">
                                        Très bien
                                    </th>
                                    <th style="width: 14%">
                                        Bien
                                    </th>
                                    <th style="width: 14%">
                                        Assez bien
                                    </th>
                                    <th style="width: 14%">
                                        Passable
                                    </th>
                                    <th style="width: 14%">
                                        Insuffisant
                                    </th>
                                    <th style="width: 14%">
                                        À rejeter
                                    </th>
                                </tr>
                                <tr>
                                    <th>Pomme</th>
                                    <td>X</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Banane</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>X</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Figue</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>X</td>
                                </tr>
                            </table>
                        </div>

                        <h1 class="mt-5" id="vux-price">
                            Comment détermine-t-on læ candidat·e élu·e&nbsp;?
                        </h1>
                        <p>
                            Lorsque tout le monde a voté, on additionne pour chaque candidat les appréciations reçues
                            et on présente la part de chaque appréciation. Il s'agit du <strong>profil de mérite</strong>.
                        </p>
                        <p>
                            Par exemple, dans notre cas de choix du meilleur fruit à ajouter à une tarte aux mirabelles,
                            nous obtenons les profils de mérite suivant&nbsp;:
                        </p>
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <tr>
                                    <th style="width: 16%">
                                    </th>
                                    <th style="width: 12%">
                                        Très bien
                                    </th>
                                    <th style="width: 12%">
                                        Bien
                                    </th>
                                    <th style="width: 12%">
                                        Assez bien
                                    </th>
                                    <th style="width: 12%">
                                        Passable
                                    </th>
                                    <th style="width: 12%">
                                        Insuffisant
                                    </th>
                                    <th style="width: 12%">
                                        À rejeter
                                    </th>
                                    <th class="text-muted" style="width: 12%">
                                        TOTAL
                                    </th>
                                </tr>
                                <tr>
                                    <th>Pomme</th>
                                    <td>20&nbsp;%</td>
                                    <td>20&nbsp;%</td>
                                    <td>20&nbsp;%</td>
                                    <td>30&nbsp;%</td>
                                    <td>10&nbsp;%</td>
                                    <td>0&nbsp;%</td>
                                    <td class="text-muted">100&nbsp;%</td>
                                </tr>
                                <tr>
                                    <th>Banane</th>
                                    <td>10&nbsp;%</td>
                                    <td>10&nbsp;%</td>
                                    <td>0&nbsp;%</td>
                                    <td>50&nbsp;%</td>
                                    <td>20&nbsp;%</td>
                                    <td>10&nbsp;%</td>
                                    <td class="text-muted">100&nbsp;%</td>
                                </tr>
                                <tr>
                                    <th>Figue</th>
                                    <td>0&nbsp;%</td>
                                    <td>10&nbsp;%</td>
                                    <td>0&nbsp;%</td>
                                    <td>20&nbsp;%</td>
                                    <td>30&nbsp;%</td>
                                    <td>40&nbsp;%</td>
                                    <td class="text-muted">100&nbsp;%</td>
                                </tr>
                            </table>
                        </div>
                        <p>
                            On représente ces résultats sous la forme d'un histogramme&nbsp;:
                        </p>
                        Pomme
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: 20%; opacity: 0.75" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: 20%; opacity: 0.5" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        Banane
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: 10%; opacity: 0.75" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: 0%; opacity: 0.5" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        Figue
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: 10%; opacity: 0.75" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: 0%; opacity: 0.5" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-4">
                            À partir de ces profils de mérite, on détermine la <strong>mention majoritaire</strong>,
                            qui est la mention médiane.
                        </p>
                        <p>
                            Par exemple, dans notre cas, nous obtenons&nbsp;:
                        </p>
                        <div class="row text-center">
                            <div class="col">
                                Pomme&nbsp;:
                                <span class="text-success font-weight-bolder">
                                    Assez bien
                                </span>
                            </div>
                            <div class="col">
                                Banane&nbsp;:
                                <span class="text-warning font-weight-bolder">
                                    Passable
                                </span>
                            </div>
                            <div class="col">
                                Figue&nbsp;:
                                <span class="text-danger font-weight-bolder">
                                    Insuffisant
                                </span>
                            </div>
                        </div>
                        <p class="mt-3">
                            C'est donc la pomme qui est élue.
                        </p>

                        <h1 class="mt-5" id="vux-price">
                            Est-ce que Vux est payante&nbsp;?
                        </h1>
                        <p>
                            Vux est <a href="https://github.com/LucileDT/vux">Open Source</a>, c'est à dire que tout le monde
                            peut s'approprier le projet et l'utiliser gratuitement. Cependant, Vux doit être installée
                            sur un serveur pour fonctionner. Le serveur en question peut coûter de l'argent (location ou achat).
                        </p>

                        <h1 class="mt-5" id="vux-for-techies">
                            Et côté technique&nbsp;?
                        </h1>
                        <p>
                            Vux est réalisée en <a href="https://www.php.net">PHP</a>,
                            sous le framework <a href="https://symfony.com">Symfony 5</a>.
                            Le code source est <a href="https://github.com/LucileDT/vux">hébergé sur GitHub</a>.
                            Vux est disponible sous <a href="https://www.gnu.org/licenses/agpl-3.0.html">licence GNU/AGPL v3</a>.
                        </p>
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
